<%# Replace the item form with an edit form for the selected item %>
<%= turbo_stream.replace "item-form-container" do %>
  <div id="item-form-container">
    <%= render "items/form", hero: @hero, item: @item %>
  </div>
<% end %>

<%# Auto-open the modal %>
<%= turbo_stream.append "item-form-container" do %>
  <script>
    document.getElementById('item-modal').showModal();
  </script>
<% end %>
